<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Noelle and A.J.</h2>
    <p>met in the most romantic of all possible circumstances: a science conference.
        Undeterred by his nerdy attempts at "flirtation", she agreed to give him a chance
        and go in a date with him. He proceeded to do his very best to show her all the best
        places in the city of Boston.
    </p>
    <p>They could talk for hours while at dinner or on road trips across New England. They
       couldn't help admiring they way each other thought, and appreciating new perspectives
       and ideas about all facets life.
    </p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>Their love of adventure would frequently separate them, as he left to hike the Appalachian Trail,
        and she would spend months at sea in the name of science. They always found each other again,
        sometimes on remote Pacific islands, or among the glaciers of the Alps.
    </p>
    <p>On August 21, 2017 a solar eclipse crossed North America, and they travelled to Grand Teton National Park
        to view the event. There, atop Table Mountain, under the crescent sun, A.J. dropped to his knees and asked
        Noelle if she would spend the rest of her life with him.
    </p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>(Finish up)
    </p>
  </div>
</section>
