<div class="inner">
  <header class="major">
    <h2>Day of Details</h2>
    <p>We're looking forward to a a beautiful day of love, music, and Italian food! </p>

    <h3>January 18, 2020</h3>
    </header>
    <h4> Ceremony </h4>
    <p> 10:30 AM (doors open 10:15)<br>
    St. Stephen's Catholic Community, Winter Springs FL <br>
    575 Tuskawilla Rd. Winter Springs, FL 32708<br>
    <i> Plentiful parking is available in the lot towards the rear of the church </i> <br>
    <h4> Mimosas and Music on the Dock </h4>
    11:30 AM - 1 PM <br>
    Enzo's on the Lake, Longwood FL <br>
    1130 US Hwy 17/92, Longwood, FL 32760 <br>
    <i> Your car will be valet parked during the cocktail hour and reception </i>
    <h4> Leisurely Lunch, Mingling, Dancing, Cake! </h4>
    1 - 4 PM<br>
    Enzo's on the Lake<br>
    <i> Come Hungry! </i>
    <h4> After Party </h4>
    Details TBD<br>
    <h5> A note on kiddos </h5>
    Our wedding will be formal yet kid friendly, and hopefully fun for everyone! If a "time out" is needed, the church has a quiet atrium from which you can still watch and hear the ceremony. Enzo's, while not necessarily kid proof (especially note that it is directly on a lake), will have a quiet space available for naps and playtime. If your child has been invited and will be attending, please let us know so we can prepare!
    <h3> January 19, 2020 </h3>
    <h4> Post-Wedding Brunch </h4>
    Details TBD
    <h3> Rehearsal </h3>
    A rehearsal for the wedding party will be held on January 17, 2020 at 4pm at St. Stephen's Church. <br>
    A lunch will precede the rehearsal; details TBD. <br>
</div>
