<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>The wedding will be held in Winter Springs, FL about one hour from Disney/Universal and from New Smyrna/ Daytona beach. The church is approximately a 30 minute drive from the Orlando International Airport. <br><br>If you'd like to stay near the festivities, we suggest the following: </p>
    </header>
  <ul>
    <li style="text-align:left;">
        <p><a href = 'https://www.marriott.com/hotels/travel/mcowl-the-westin-lake-mary-orlando-north/'>Westin Lake Mary North </a>, Lake Mary <br> Close to the party and route I-4 for reaching the airport/parks/beaches. </p>
    </li>
    <li style="text-align:left;">
        <p><a href = 'https://www.wyndhamhotels.com/hotels/Orlando-Florida?brand_id=LQ&iata=00093763&cid=PS:LQ:20190403:BING:TM:LQUS:NA:NA:EN-US&msclkid=3580e3d849041e839b84bf2514fbc91f&userguid=4e5c7a3c-ad95-4003-b194-e7ee66206fe0'>La Quinta Inn and Suites </a>, Lake Mary <br> A bit closer to the reception and after party venues, near a nice shopping district and convenient to I-4. </p>
    </li>
      <li style="text-align:left;">
        <p><a href = 'https://www.candlewoodsuites.com/hotels/us/en/lake-mary/mcolm/hoteldetail?fromRedirect=true&qSrt=sBR&qIta=99504440&icdv=99504440&glat=SEAR&qSlH=MCOLM&setPMCookies=true&qDest=1130%20Greenwood%20Boulevard,%20Lake%20Mary,%20FL,%20US&dp=true&msclkid=7b726766a5ae128fd30c3b9bfbf21763&cid=15969&srb_u=1'>Candlewood Suites </a>, Lake Mary <br> Next door to the La Quinta </p>
    </li>
    <li style="text-align:left;">
        <p><a href = 'https://hiltongardeninn3.hilton.com/en/hotels/florida/hilton-garden-inn-orlando-north-lake-mary-ORLLMGI/index.html?SEO_id=GMB-HI-ORLLMGI'>The Alfond Inn </a>, Winter Park <br> A Boutique hotel near beautiful downtown Winter Park. A bit farther from the action but great if you want to relax and walk to restaurants, bars, and activities. Be sure to check out the Winter Park Boat Tour! </p>
    </li>
    </li>
  </ul>
  <p>We also encourage you to check out AirBnBs which are very affordable in our area. Search for Oviedo, Lake Mary, Altamonte Springs, Winter Park, or downtown Orlando. If you want to stay near the parks search for Kissimmee. All of these locations are within a 30 minute drive from the festivities. Downtown Orlando in particular has become a foodie destination with a cool mid-century feel!
 <br><br>
   Central Florida is unfortunately lacking in good public transportation. We highly suggest renting a car from the airport if you will be flying in. If you would like to find a carpool buddy please let us know; we are happy to help. </p>
</div>
