<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>(Hotel info here)</p>
    </header>
  <ul>
    <li style="text-align:left;">
        <p>(Hotel info here)</p>
    </li>
    <li style="text-align:left;">
        <p>(Hotel info here)</p>
    </li>
    <li style="text-align:left;">
        <p>(Hotel info here)</p>
    </li>
  </ul>
  <p>There are plenty of other hotels in Orlando, too! St. Stephen's Catholic Church is only a 30 minute drive from the Airport or Downtown.</p>
</div>
