<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>The wedding will be held in greater Orlando, about one hour from Disney/Universal and from New Smyrna/ Daytona beach. If you'd like to stay near the festivities, we suggest the following: </p>
    </header>
  <ul>
    <li style="text-align:left;">
        <p><a href = 'https://thealfondinn.com/'>The Alfond Inn </a>, Winter Park <br> A Boutique hotel near a lovely walking/shopping area. </p>
    </li>
    <li style="text-align:left;">
        <p><a href = 'https://www3.hilton.com/en/hotels/florida/hilton-orlando-altamonte-springs-ALTAHHF/index.html'>Hilton Orlando North </a>, Altamonte Springs <br> Closer to the action and in a good location for reaching nearby attractions and the airport. </p>
    </li>
  </ul>
  <p>We also encourage you to check out hotels in downtown Orlando, and AirBnBs which are very affordable in our area. St. Stephen's Catholic Church is only a 30 minute drive from the Orlando International Airport or Downtown.<br><br>
  Unfortunately Central Florida does not have great public transportation, and we highly suggest renting a car. Let us know if you need help finding a ride! </p>
</div>
