<div class="inner">
  <header class="major">
    <h2>Traveling to Orlando</h2>
    <p>A world-renowned resort destination, that literally has <em>nothing to do</em> with why the wedding is happening there!
       Orlando is where Noelle calls home, and her childhood reverend Father George has been kind enough to officiate the ceremony.
       When you leave the theme parks and resorts, Central Florida has beautiful natural attractions and old southern charm that is highly underrated.</p>
    <p>Plus, the weather in January is usually fantastic.</p>
    <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a></p>
  </header>
</div>
