<div class="inner">
  <header class="major">
    <h2>Traveling to Orlando</h2>
    <p>A world-renowned resort destination, that literally has <em>nothing to do</em> with why the wedding is happening there!
       Orlando is where Noelle grew up and the ceremony will be taking place in her childhood church.<br><br>
       When you leave the theme parks and resorts, Central Florida has beautiful natural attractions and old southern charm that is highly underrated.</p>
    <p>Plus, the weather in January is usually fantastic.</p>
    <h3>Out of State Guests</h3>
    <p>If you're travelling from out-of-state, the best airport is <a href="https://www.airport-orlando.com/">Orlando International Airport.</a> Ubers are expensive and public transportation not so great, so we recommend renting a car. There will be plentiful parking at the ceremony, reception, and after party venues. That said, we encourage carpooling and are happy to help facilitate! </p>
    <p><h3>Things to Do</h3>
    <p> Mid-January is an excellent time to visit the theme parks with good weather and smaller crowds! But if you are not into Mickey Mouse, here are some authentic Florida wonders:
    <ul>
    <li><b>Beaches:</b> New Smyrna Beach (Noelle's favorite), Daytona Beach, and Cape Canaveral National Seashore (A.J.'s favorite)
    <li><b>Gators: </b>Black Hammock Restaurant, Airboat rides (drive down state route 50 towards the beach - we like Captain John. It helps if you call ahead), Gatorland Park
	<li><b> Aquatic Mammals:</b> Blue Springs State Park (Manatees, especially if it is cold out), Manatee Park in New Smyrna (better for dolphins this time of year)
<li><b>Freshwater Springs:</b> Swimmable year-round! Better yet, rent a kayak! Wekiva Springs, DeLeon Springs (save room for pancakes at the old mill), Rock Springs State Park
<li><b>Oranges: </b>In season in January! Visit Hollieanna storefront in Orlando, or drive out to Christmas, FL to see the groves
<li><b>Shopping:</b> Visit Park Ave in Winter Park, FL for browsing (be sure to try the chocolate popcorn at Killwin's candy store) Downtown DeLand, the Premium Outlets
<li><b>Culture: </b>The Enzian Movie Theater, the Maitland Art Center, the Polasek Museum, the Audobon Society, Leu Gardens, Kennedy Space Ceter
<li><b> Further Away:</b> St. Augustine, the oldest town in the US, via Mount Dora makes for a great road trip!
  </header>
</div>
