<div class="inner">
  <header class="major">
    <h2>The Wedding Party</h2>
  </header>
  <ul class="features">
    <li>
      <h3>Rachel Homza</h3>
      <p>
      <img src="images/rachel-liz_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="100" height="100" />
      (about)</p>
    </li>
    <li>
      <h3>Eric Devaux</h3>
      <p>
      <img src="images/eric_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="100" height="100" />

      The Best Man is A.J.'s younger brother, and an accomplished debater
          and computer expert. He's known A.J. literally his whole life, but
          dont hold that against him! He's one of the most generous
          people there is.
      </p>
    </li>
    <li>
      <h3>Michelle Vergara</h3>
      <p>
      <img src="images/michelle_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="100" height="100" />
      (about)</p>
    </li>
    <li>
      <h3>Garvey Mackenzie</h3>
      <p>
      <img src="images/garvey_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" />
      Possibly the smartest man in the room, Garvey recently received his Ph.D. in
      chemistry, but he's very humble so don't tell him I told you! He is also fluent in French and
      hails from the island of Dominica, and moved up to Boston for school, where he met A.J.
      </p>
    </li>
    <li>
      <h3>Marianne Acker</h3>
      <p>
      <img src="images/marianne_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" style="align:right" />

      (about)</p>
    </li>

    <li>
      <h3>Craig Norton</h3>
      <p>
      <img src="images/craig_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" align="right" />
      A philosopher and class act. Craig is also recently engaged himself to
      his college sweetheart, Melissa Trenholme. Craig loves games, philosophical
      discussions, and amusing esoterica. Needless to say, he is always fun at a party.
      </p>
    </li>
    <li>
      <h3>Jordyn Mader</h3>
      <p>
      <img src="images/jordyn_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="100" height="100" />
      (about)</p>
    </li>
    <li>
      <h3>Harley Blumenfeld</h3>
      <p>
      <img src="images/harley_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" />
      This guy right here is a seeker. He has changed a lot since A.J. met him in Elementary School, and is someone you can count on.
      He has kept his great sense of humor, his artistic ability, and his winning attitude.
      </p>
    </li>
    <li>
      <h3>Kristen Mader</h3>
      <p>
      <img src="images/kristen_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" />
      (about)</p>
    </li>
    <li>
      <h3>Zach Blumenfeld</h3>
      <p>
      <img src="images/zach_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="150" height="150" />
     (about)</p>
    </li>
    <li>
      <h3>Wesley Held</h3>
      <p>
      <img src="images/wesley_sq.png" alt="headshot" style="padding:5px 5px; float:left" width="100" height="100" />
      (about)</p>
    </li>

  </ul>
</div>
